/* Start Variabals */
:root {
    --main-color: #10cab7;
    --secondery-color: #2c4755;
    --padding: 60px;
}

/* End Variabals */
html {
    scroll-behavior: smooth;
}

/* Start Landing Section   */
.landing .l-image img {
    background-size: contain;
    width: calc(99vw - 2.5px);
    height: 100vh;
    margin: 0;
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    color: var(--main-color);
    margin: 0;
    font-size: 50px;
    font-weight: bold;
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

/* End Landing Section */